{% extends 'base.html' %}
 {% import 'macros.html' as macro%}

{%block styles%}
  {{ super() }}
{%endblock%}

 <!-- content-->
{% block content %}
<div class="container-fluid">
 <p><a class="btn btn-primary" href="{{url_for('.new_pitch',id=pitches.category_id)}}">Post a Pitch</a></p>
 <div>
 <h3>{{ pitches.pitche }} </h3>
 </div>

<div class="col-md-6">
        <button type="button" class="btn btn-primary"><a  class="btn btn-round" href="{{url_for('.upvote',id=pitches.id)}}">Upvote<span class="glyphicon glyphicon-thumbs-up"></span></a></button>
        <button type="button" class="btn btn-primary"><a  class="btn btn-round" href="{{url_for('.downvote',id=pitches.id)}}">Downvote<span class="glyphicon glyphicon-thumbs-up"></span></a></button>
        
</div>



         {% if comment %}
         {{ macro.displaySpecificPitch(comment)}}
         <br>
         {%else%}
         <h3 class="text-center" style="color:rbg(255,255,255);">No comments found </h3>
         {% endif %}
        </div>

    </div>
  </div>

{% endblock %}
